@using System.Text.Json

@model CustomPokedex.Models.PokemonList;

@{
    ViewData["Title"] = "Home Page";
}
<head>
    <link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />
</head>

<div class="pokedex-window d-flex">
    <div class="pokedex-col">
        <div class="pokemon-style-container">
            <h1 class="pokemon-style-container-white">POKEDEX</h1>
        </div>
        <div>
            <div class="pokedex-image-name">
                <img id="pokedex-view-picture" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/1.png" alt="pokemon">
                <h1 id="h1-pokemon">Bulbasaur</h1>
            </div>
            <div class="pokedex-view-buttons">
                <button class="pokedex-bttn info-bttn" onclick="getInfoView()">info</button>
                <button class="pokedex-bttn" onclick="movePrevPokedexEntry()">prev</button>
                <button class="pokedex-bttn" onclick="moveNextPokedexEntry()">next</button>
            </div>
        </div>
    </div>

    <div class="pokedex-col pokemon-style-container pokedex-list">
        <div class="pokemon-style-container-white">
            @foreach(var pokemon in Model.Pokemons) {
                string pokemonObject = @JsonSerializer.Serialize(pokemon);
                <div id="pokedex-num-@pokemon.PokedexNumber" class="pokemon-item" onclick="setView('@pokemonObject')" data-pokename="@pokemon.Name">
                    <h1>NO. @pokemon.PokedexNumber @pokemon.Name.ToUpper()</h1>
                </div>
            }
        </div>
    </div>
</div>
<script>
    let current_pokedex_number = 1;
    function setView(pokemonObject) {
        var pokemon = JSON.parse(pokemonObject);

        let imageUrl = `https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/${pokemon.pokedex_number}.png`;
        document.getElementById("pokedex-view-picture").src = imageUrl;

        document.getElementById("h1-pokemon").textContent = pokemon.name;

        current_pokedex_number = pokemon.pokedex_number;
    }

    async function getInfoView() {
        var id = current_pokedex_number;
        window.location.href =`/pokemon?pokedex_id=${id}`;
    }

    function moveNextPokedexEntry() {
        current_pokedex_number++;

        let imageUrl = `https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/${current_pokedex_number}.png`;
        document.getElementById("pokedex-view-picture").src = imageUrl;
        
        const pokemon_id_search = `pokedex-num-${current_pokedex_number}`;
        const next_pokemon_name = document.getElementById(pokemon_id_search).dataset.pokename;
        document.getElementById("h1-pokemon").textContent = next_pokemon_name;
    }

    function movePrevPokedexEntry() {
        if(current_pokedex_number > 1) {
            current_pokedex_number--;
        }

        let imageUrl = `https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/${current_pokedex_number}.png`;
        document.getElementById("pokedex-view-picture").src = imageUrl;

        const pokemon_id_search = `pokedex-num-${current_pokedex_number}`;
        const next_pokemon_name = document.getElementById(pokemon_id_search).dataset.pokename;
        document.getElementById("h1-pokemon").textContent = next_pokemon_name;
    }
</script>