@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');

:root {
    --white: #FFF;
    --red: #E23534;
    --light-red: #FFA4AD;
    --black: #000;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 1rem;
    font-family: "Jersey 10", sans-serif;
}

.main-container {
    width: 100%;
    height: 80%;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* row */
.pokedex-row {
    display: flex;
    align-items: center;
}

.image-classification-row {
    justify-content: space-between;
    padding: 0 2em;
}

    .image-classification-row img {
        width: 25%;
        margin-left: 2.5em;
    }

/* Pokemon typings and classification */
.pokemon-style-container {
    background-color: var(--light-red);
    border: solid 4px var(--black);
    border-radius: 10px;
}

.pokemon-style-container-white {
    background-color: var(--white);
    width: 100%;
    padding: 1em;
    border-radius: 8px;
}

.pokedex-col {
    width: 50%;
}

.pokemon-type-classification {
    display: flex;
    flex-direction: column;
    gap: 5px;
    height: 0%;
}

.pokemon-number h2,
.pokemon-classification h2 {
    margin: 0;
    font-size: 1.7em;
}

.pokemon-classification {
    background-color: var(--white);
    padding: 0.5em;
}

.pokemon-number {
    background-color: var(--red);
    padding: 0.5em;
}

    .pokemon-number h2 {
        color: var(--white);
    }

.pokemon-types {
    display: flex;
    gap: 10px;
    margin-top: 0.7em;
}

    .pokemon-types h3 {
        border: 3px solid var(--black);
        padding: 0 1em;
        border-radius: 20px;
        font-size: 1.4em;
    }

/* Abilties row */
.abilities {
    flex-wrap: wrap;
    /* gap:10px; */
    justify-content: space-between;
    flex: 1;
}

    .abilities h3 {
        background-color: var(--red);
        width: 48%;
        color: var(--white);
        text-align: center;
        padding: 10px;
        border-radius: 20px;
    }

/* Typings background color change */
.normal-type {
    background-color: #A8A77A;
}

.fire-type {
    background-color: #EE8130;
}

.water-type {
    background-color: #6390F0;
}

.electric-type {
    background-color: #F7D02C;
}

.grass-type {
    background-color: #7AC74C;
}

.ice-type {
    background-color: #96D9D6;
}

.fighting-type {
    background-color: #C22E28;
}

.poison-type {
    background-color: #A33EA1;
}

.ground-type {
    background-color: #E2BF65;
}

.flying-type {
    background-color: #A98FF3;
}

.psychic-type {
    background-color: #F95587;
}

.bug-type {
    background-color: #A6B91A;
}

.rock-type {
    background-color: #B6A136;
}

.ghost-type {
    background-color: #735797;
}

.dragon-type {
    background-color: #6F35FC;
}

.dark-type {
    background-color: #705746
}

.steel-type {
    background-color: #B7B7CE;
}

.fairy-type {
    background-color: #D685AD;
}
