@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');

:root {
    --white: #FFF;
    --red: #E23534;
    --light-red: #FFA4AD;
    --black: #000;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 1rem;
    font-family: "Jersey 10", sans-serif;
}

h1, h2, h3 {
    margin: 0;
}

.pokedex-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px
}

.pokedex-row img {
    width: 40%;
    padding: 1em;
    margin-left: 35px;
}

.pokedex-row h1 {
    font-size: 1rem;
}

.pokemon-stats-container {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 40%;
}

.pokemon-stat-item {
    display: flex;
    border: var(--black) 4px solid;
    padding: 0.5em;
    gap: 20px;
    justify-content: space-between;
    border-radius: 20px;
    background-color: var(--white);
    padding: 0.5em 1em;
}

.pokemon-stat-item h1 {
    font-weight: 900;
    font-size: 1.2em;
}

.pokemon-stat-item:first-child {
    background-color: var(--light-red);
}
